<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/anuragaffection"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31">
        <activity
            android:name=".GayaCollegeGaya"
            android:exported="false" />
        <activity
            android:name=".JsonLearn"
            android:exported="false" />
        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=AIza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="YOUR_API_KEY" />

        <activity
            android:name=".googleMapLearn"
            android:exported="false"
            android:label="@string/title_activity_google_map_learn" />
        <activity
            android:name=".DrawerNavigation"
            android:exported="false" />
        <activity
            android:name=".TabLearn"
            android:exported="false" />
        <activity
            android:name=".DynamicFrame"
            android:exported="false" />
        <activity
            android:name=".StaticFrame"
            android:exported="false" />
        <activity
            android:name=".DrawableLearn"
            android:exported="false" />
        <activity
            android:name=".AppBarLearn"
            android:exported="false"
            android:theme="@style/Theme.Design.NoActionBar" />
        <activity
            android:name=".RecycleLearn"
            android:exported="false" />
        <activity
            android:name=".CardViewLearn"
            android:exported="false" />
        <activity
            android:name=".SpinnerLearn"
            android:exported="false" />
        <activity
            android:name=".ListLearn"
            android:exported="false" />
        <activity
            android:name=".Lottie"
            android:exported="false" />
        <activity
            android:name=".Animations"
            android:exported="false" />
        <activity
            android:name=".splash_screen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity2"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>